body{
    padding: 100px;
}
.form-control{
    margin-top: 15px;
}
.btn{
    margin-top: 15px;
}
.submit-area{
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 13px;
    padding: 23px 35px;
    box-shadow:5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.Deposit{
    background-color: violet;
}
.Withdraw{
    background-color: lightsalmon;
}
.Balance{
    background-color: goldenrod;
}
.status{
    margin: 0 20px;
    padding: 30px;
    border-radius: 13px;
    color: white;
}